body {
	background-color: #dfdfdf;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}

html,body {
	height:100%;
}

/* Top banner */
.banner {
	position: relative;
	width: 98%;
	padding: 1%;
	height: 80px;
	background-color: #4b6344;
	overflow: hidden;
}

#banner_text {
	color: white;
	font-size:24px;
}

/** Top banner navigation bar **/
.navigation_bar {
	float: right;
	position: relative;
	top: -65px;
	right: 40px;
	padding-bottom: 15px;
	padding-top: 13px;
	background-color: #555555;
	margin: 0px;
}

.navigation_bar a.active {
	background-color: #717171;
}

.navigation_bar a:hover {
	color: #afafaf;
	transition: 0.5s;
}

/* Navigation item */
.navigation_bar a {
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 16px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
}
/** Dropdown selector **/
.hamburger {
	display: none;
	position: relative;
	float: right;
	text-decoration: none;
	right: 20px;
	top: -24px;
	color: white;
}

#dropdown_menu {
	visibility: hidden;
	display: inline-block;
	background-color: #4b6344;
	position: fixed; /* Stay on screen */
	z-index:1000; /* Always on top */
	right: 0px;
	top:40px;
	width:100%;
	text-align: center;
}

#dropdown_menu a {
	text-decoration: none;
	font-family: Arial;
	font-size: 15px;
	width:100%;
	display:block;
	margin:7px;
	color:white;
}

#dropdown_menu a:hover {
	color: #afafaf;
	transition: 0.5s;
}

/** Buttons **/
#deals_button {
	display: inline-block;
	text-decoration: none;
	background-color: #4b6344;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding:7px 17px;
	cursor: pointer;
	border: 1px solid black;
	margin-bottom: 40px;
}

#deals_button:hover {
	background-color: #4b8844;
}


/** Global content frame **/

.content_wrapper {
	position:relative;
	background-color:#dfdfdf;
	height:100%;
}

.content {
	margin:auto;
	justify-content: center;
	text-align: center;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	height:100%;
	display:block;
	width:70%;
}

/* Suitable for horizontally stacking divs */
.horizontal_container {
	text-align: center;
}

.horizontally_stacked {
	display: inline-block;
}

.vertically_centered {
	vertical-align: middle;
}


/** Home page specific elements **/
#home_blurb {
	position:relative;
	top:-50px;
}

/** Experiences page specific **/

#experiences_island_wrapper {
	position:relative;
	padding-top:50px;
	width:500px;
	margin:auto;
}

#experiences_north {
	background-color: yellow;
	float: left;
	
	width:200px;
	height:200px;
}

#experiences_south {
	background-color: green;
	float:right;

	width:200px;
	height:200px;
}

/** Deals page specific **/

#deal_wrapper {
	width: 100%;
	height: 150px;
	margin-top:50px;
}

.deal_entry {
	background-color: #850808;
	width: 650px;
	height: 150px;
	margin: auto;
}

.deal_image {
	float: left;
	height:150px;
	width:150px;
	background-color: green;
}

.deal_price {
	float: right;
	height: 130px;
	width: 60px;
	padding-top:20px;
	background-color: red;
	text-align: center;
}

.deal_description {
	width:420px;
	height:150px;
	display:inline-block;
	margin:auto;
	background-color:orange;
	padding-left:10px;
	padding-right:10px;
}

/** Review page specific **/

.review_wrapper {
	padding-top:10px;
	width: 530px;
	height: 110px;
	margin-top: 50px;
	background-color: #4b6344;
	margin: auto;
	text-align:left;
	color:white;
	font-family:Arial;
}

.review_meta {
	float:left;
	padding-right:15px;
	padding-left:20px;
	margin-top:0;
}

#review_post {
	width: 530px;
	height: 230px;
	padding: 1px;
	margin: auto;
	margin-bottom: 20px;
	background-color: #4b6344;
	color:white;
}

/****** Carousel ******/

.carousel {
	width:85%;
	background-color: #1a1a1a;
}

.carousel_item {
	background-color:#4b6344;
	margin: 10px;
	padding:100px;
}

.carousel_arrow {
	position:relative;
	padding-top:110px;
	padding-bottom:110px;
	padding-left:0px;
	padding-right:0px;
	top:-115px;
	width:20px;
}


/******* Media Queries *******/

@media screen and (max-width: 600px) {
	/* Reduce 'New Zealand Adventures' font size */
	#banner_text {
		font-size:10px;
	}
	/* Reduce banner height */
	.banner {
		height:35px;
	}
	/* Hide navbar */
	.navigation_bar {
		visibility: hidden;
		display: none;
	}
	/* Show hamburger */
	.hamburger {
		display: block;
		/*float: right;
		display: block;*/
	}
	#home_blurb {
		top:5px;
	}
}

@media screen and (max-width: 680px) {
	/* break experiences pages north/south island divs */
	#experiences_island_wrapper {
		display:none;
		visibility:hidden;
	}
}

@media screen and (max-width: 736px) {
	/* reposition carousel arrows */
	.carousel_arrow {
		padding-top: 225px;
		padding-bottom: 225px;
		top:-230px;
	}

}

@media screen and (max-width: 367px) {
	/* reposition carousel arrows */
	.carousel_arrow {
		padding-top: 340px;
		padding-bottom: 340px;
		top:-350px;
	}

}